<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Archetype Created Web Application</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>TargetResourceServlet</servlet-name>
    <servlet-class>io.github.cmrodriguez.saml.sp.resource.TargetResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConsumerServlet</servlet-name>
    <servlet-class>io.github.cmrodriguez.saml.sp.ConsumerServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>SingleSignOnService</servlet-name>
    <servlet-class>io.github.cmrodriguez.saml.idp.SingleSignOnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArtifactResolutionServlet</servlet-name>
    <servlet-class>io.github.cmrodriguez.saml.idp.ArtifactResolutionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>TargetResourceServlet</servlet-name>
    <url-pattern>/target/resource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConsumerServlet</servlet-name>
    <url-pattern>/sp/consumer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SingleSignOnService</servlet-name>
    <url-pattern>/idp/singleSignOnService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArtifactResolutionServlet</servlet-name>
    <url-pattern>/idp/artifactResolutionService</url-pattern>
  </servlet-mapping>



  <filter>
    <filter-name>AccessFilter</filter-name>
    <filter-class>io.github.cmrodriguez.saml.sp.AccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/target/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

</web-app>
